<h1>Add a Dealership</h1>

<form  action="/dealerships" method="post">
  <div class='form-group'>
    <label for="dealership">Enter Dealership Name:</label>
    <input type="text" name="dealership">
  </div>
  <button type='submit' class='btn btn-success'>Submit</button>
</form>
